.Latihan 1/Laporan Praktikum 1.doc
.Latihan 2/Laporan Praktikum 2.doc
.Latihan 3/Laporan Praktikum 3.doc
.Latihan 4/Laporan Praktikum 4.doc
.Latihan 5/Laporan Praktikum 5.doc
.Latihan 6/Laporan Praktikum 6.doc
.Latihan 7/Laporan Praktikum 7.doc